<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @unit_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @unit_type.title %>
</p>

<%= link_to 'Edit', edit_admin_unit_type_path(@unit_type) %> |
<%= link_to 'Back', admin_unit_types_path %>
