<h1>Listing units</h1>

<table>
  <thead>
    <tr>
      <th>Unit type</th>
      <th>Name</th>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.unit_type_id %></td>
        <td><%= unit.name %></td>
        <td><%= unit.name %></td>
        <td><%= unit.title %></td>
        <td><%= link_to 'Show', [:admin, unit] %></td>
        <td><%= link_to 'Edit', edit_admin_unit_path(unit) %></td>
        <td><%= link_to 'Destroy', [:admin, unit], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Unit', new_admin_unit_path %>
