<p id="notice"><%= notice %></p>

<p>
  <strong>Business:</strong>
  <%= @position.business_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @position.title %>
</p>

<%= link_to 'Edit', edit_admin_position_path(@position) %> |
<%= link_to 'Back', admin_positions_path %>
