<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @competency.position_id %>
</p>

<p>
  <strong>Cluster:</strong>
  <%= @competency.cluster_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @competency.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @competency.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @competency.description %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @competency.rank %>
</p>

<%= link_to 'Edit', edit_admin_competency_path(@competency) %> |
<%= link_to 'Back', admin_competencies_path %>
