<p id="notice"><%= notice %></p>

<p>
  <strong>Unit:</strong>
  <%= @department.unit_id %>
</p>

<p>
  <strong>Business:</strong>
  <%= @department.business_id %>
</p>

<p>
  <strong>Departmnet type:</strong>
  <%= @department.departmnet_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @department.title %>
</p>

<%= link_to 'Edit', edit_admin_department_path(@department) %> |
<%= link_to 'Back', admin_departments_path %>
