<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @department_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @department_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @department_type.title %>
</p>

<%= link_to 'Edit', edit_admin_department_type_path(@department_type) %> |
<%= link_to 'Back', admin_department_types_path %>
