<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Role</th>
      <th>Login</th>
      <th>Password digest</th>
      <th>Remember token</th>
      <th>Pin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.role_id %></td>
        <td><%= user.login %></td>
        <td><%= user.password_digest %></td>
        <td><%= user.remember_token %></td>
        <td><%= user.pin %></td>
        <td><%= link_to 'Show', [:admin, user] %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
        <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_admin_user_path %>
