<h1>Listing business_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @business_types.each do |business_type| %>
      <tr>
        <td><%= business_type.name %></td>
        <td><%= business_type.name %></td>
        <td><%= business_type.title %></td>
        <td><%= link_to 'Show', [:admin, business_type] %></td>
        <td><%= link_to 'Edit', edit_admin_business_type_path(business_type) %></td>
        <td><%= link_to 'Destroy', [:admin, business_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business type', new_admin_business_type_path %>
