<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business_type.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @business_type.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @business_type.title %>
</p>

<%= link_to 'Edit', edit_admin_business_type_path(@business_type) %> |
<%= link_to 'Back', admin_business_types_path %>
