<!DOCTYPE html>
<html>
<head>
  <title>Leroy Merlin Pilot Project</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
    <%# To fix HTML5 issues for IE 8 %>
    for(var el="header footer nav section article aside time video".split(' ');el.length;){
       document.createElement(el.pop())
    }
  </script>
</head>
<body>
  <header>
    <%#= favicon_link_tag  '/leroy_merlin.ico' %>
    <%= image_tag '/assets/leroy_merlin.png' %>
    <h1>Модель компетенций</h1>
    <h2>Пилотный проект</h2>
  </header>
  <br>
  <%= yield %>

</body>
</html>
